video {
    width: 320px;
    height: 320px;
}

#videoDiv {
    width: 500px;
    height: 500px;
    float: left;

}

#imgDiv {
    width: 500px;
    height: 500px;
    float: left;
    background-image: url("../SOURCE/11781913.jpg");
    background-size: 500px;
}

#hrefDiv {
    float: left;
    width: 200px;
    height: 900px;
    background-image: url("../SOURCE/u=1103624417,805830721&fm=27&gp=0.jpg");
    background-image: image();
}

iframe {
    margin-left: 0px;
    width: 1700px;
    height: 900px;
}

#iframeDiv {
    float: left;
}
